<div class="container">
  <!--Header block-->
  <app-header></app-header>
  <!--End block-->
  <!--Main block with form -->
  <main>
      <div class="row">
          <div class="col-md-12 text-center">
              <app-search></app-search>
          </div>
      </div>
      <br><br>
      <div class="row">
          <div class="col-md-3">
              <app-list-city></app-list-city>
          </div>
          <div class="col-md-9 bg-weather">
              <app-weatherinfo></app-weatherinfo>
          </div>
      </div>
  </main><!--End block-->
  <!--Footer block-->
  <app-footer></app-footer>
  <!--End block-->
</div>

